.logoProfile {
    padding-left: 10px;
    width: 85px;
}

.updateCard {
    background-color: #f4f5f8;
}

.albumCard {
    background-color: #f4f5f8;
}

.manageCard {
    background-color: #f4f5f8;
}