.ion-card-content{
    --display: flex;
    --align-items: center;
    --justify-content: space-between;
}

.content-card-isi {
    display: flex;
    justify-content: space-between;
}

.card h2 {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    color: rgb(69, 69, 69)
}

.kalender{
    margin: 25px auto;
}

